body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #130499;
}

.container {
    text-align: center;
    width: 300px;
    padding: 20px;
    background-color: rgb(50, 186, 204);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    background-color: #107eaa;
    color: rgb(66, 13, 212);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0b60af;
}

.result-box {
    margin-top: 20px;
}

#imagePreview {
    max-width: 100%;
    margin-top: 10px;
}
